pymilvus
requests
bs4
dotenv
autogen_ext
autogen_agentchat
autogen_core
asyncio
openai
tiktoken
fastapi
langchain
uvicorn
langchain_openai
langchain_classic
langchain_pinecone
langchain_mcp_adapters
langchain_core
langchain_litellm
litellm
google-generativeai
psycopg2
google_auth_oauthlib
html2text
msal
email-validator
boto3

